@import "styles.less";
.aboutus{
    background-color:#f8f8f8;
    padding:100px 0;
    .container{
        font-family:@roboto;
        font-size:14px;
        color:@grey;
        margin-top:70px;
        text-align:left;
    }
}
.description{
    margin-top:30px;
}
.members-slider{
  margin-top:30px;
  position:relative;
  overflow: hidden;
  ul{
    white-space:nowrap;
    position: relative;
    li{
      display:inline-block;
      position: relative;
    }
  }
    .name{
        margin-top:20px;
        font-size:14px;
        font-weight:600;
    }
    .title{
        margin-top:15px;
        font-family:@roboto;
        font-size:13px;
    }
    .angle {
      position:absolute;
      display:inline-block;
      padding:10px;
      cursor:pointer;
      z-index:100;
      height:100%;
      &:hover{
        background-color:rgba(192, 47, 27, 0.73);
        color:#ddd;
        transition: 0.5s;
      }
      &#left{
        left:0;
      }
      &#right{
          right:0;
      }
      i{
        cursor:pointer;
        font-size:21px;
        line-height:15;
      }
    }
}
.member img{
    display:inline-block;
    width:100%;
}


.hide{
    display:none;
}
