.clients{
    background-color:#f8f8f8;
    padding:97px 0;
}
.clients-logo li{
    display:inline-block;
    margin-top:10px;
}
.clients-logo li:nth-child(n+1){
    margin-left:50px;
}
.quote-item{
    width:65%;
    margin:0 auto;
    color:#555;
}
.quotes{
    margin-top:58px;
    font-family:'Roboto Slab', serif;
}
.quotes .control{
    margin-top:45px;
}
.slick-dots{
    position:static;
    margin-top:30px;
}
.slick-dots li{
    margin:0;
}
.slick-dots li button{
    width:13px;
    height:13px;
    border-radius:50%;
    background-color:#ddd;
}
.slick-dots li.slick-active button{
    background-color:#c0301c;
}
.slick-dots li button:before{
    display:none;
}
.quotes-text{
    font-size:18px;
}
.quotes-auth{
    font-size:20px;
    margin-top:45px;
}
.quote-item .active{
    display:block;
}
.quotes .control .active{
    background-color:#c0301c;
}
/*display:inline-block;
    background-color:#ddd;
    width:13px;
    height:13px;
    border-radius:50%;
    cursor:pointer;
    margin-right:2px;
    /*/