@import "styles.less";
.clients{
    background-color:#f8f8f8;
    padding:97px 0;
}
.clients-logo li{
    display:inline-block;
    margin-top:10px;
    &:nth-child(n+1){
        margin-left:50px;
    }
}
.quotes{
    margin-top:58px;
    font-family:@roboto;
    .quote-item{
        margin:0 auto;
        color:@grey;
        width:65%;
        li{
          display:none;
          &:first-child{
            display:block;
          }
        }

    }
    .control-circle{
      margin-top:30px;
      li{
        display:inline-block;
        height:25px;
        width:25px;
        border-radius:50%;
        background-color: @grey;
        cursor:pointer;
        margin:0 10px;
        &:hover{
          background-color:@red;
          transition:0.3s;
        }
        &:first-child,
        &:last-child{
          margin:0;
        }
      }
      .active{
        background-color: @red;
      }
    }
}

.quotes-text{
    font-size:18px;
}
.quotes-auth{
    font-size:20px;
    margin-top:45px;
}
