@media only screen and (max-width: 1240px) {
    .members-slider li:nth-child(n+4){
        display:none;
    }
    .works-items .item{
        width:305px;
        height:271px;
    }

}
@media only screen and (max-width: 1024px) {
    .meetup{
        margin-top:200px;
        margin-bottom:140px;
    }
    .menu{
        display:none;
    }
    #hamb{
        display:inline-block;
    }
}
@media only screen and (max-width: 1000px){
    .members-slider li:nth-child(3){
        display:none;
    }
}
@media only screen and (max-width: 620px) { 
    h1{
        font-size:39px;
    }
    h4{
        font-size:16px;
    }
}
@media only screen and (max-width: 600px){
    .members-slider li:nth-child(2){
        display:none;
    }
}
@media only screen and (max-width: 520px) {
    h1{
        font-size:24px;
    }
    h4{
        font-size:14px;
    }
    .meetup{
        margin-top:140px;
        margin-bottom:100px;
    }
    .works ul{
        font-size:14px;
    }
    .paralax h1{
        position:relative;
        font-family:'Roboto Slab', serif;
        font-size:21px;
    }
}

@media only screen and (max-width: 920px) {
    
}

@media only screen and (min-width: 1240px) {
    .members-slider li:nth-child(n+5){
        display:none;
    }
}



