@media only screen and (max-width: 1240px) {
    .works-items .item{
        width:305px;
        height:271px;
    }
}
@media only screen and (max-width: 1024px) {
    .meetup{
        margin-top:200px;
        margin-bottom:140px;
    }
    .menu li{
        display:block;
    }
    .menu{
        display:none;
    }
    #hamb{
        display:inline-block;
    }
}
@media only screen and (max-width: 1000px){

}
@media only screen and (max-width: 991px){
    .blog-content{
        margin-top:20px;
    }
    .addres,
    .hotline,
    .mail{
        display:inline-block;
    }
}
@media only screen and (max-width: 620px) { 
    h1{
        font-size:39px;
    }
    h4{
        font-size:16px;
    }
}
@media only screen and (max-width: 600px){
  
}
@media only screen and (max-width: 520px) {
    h1{
        font-size:24px;
    }
    h4{
        font-size:14px;
    }
    .meetup{
        margin-top:140px;
        margin-bottom:100px;
    }
    .works ul{
        font-size:14px;
    }
    
    .paralax h1{
        position:relative;
        font-family:'Roboto Slab', serif;
        font-size:21px;
    }
}
@media only screen and (max-width: 480px){
    .blog-items .date{
        float:none;
        color:#777;
        text-align:center;
    }   
    .blog-title{
        margin-left:0;
        float:none;
        text-align:center;
    }
    .clients-logo li{
        display:block;
    }
    .clients-logo li:nth-child(n+1){
        margin-left:0;
    }
}
@media only screen and (max-width: 340px){
    h1{
        line-height:1.5;
    }
    #start{
        width:90%;
    }
    .works-items .item{
        width:100%;
    }
    .paralax-content span{
        width:80%;
    }
    .mail{
        -ms-word-break: break-all;
        word-break:break-all;
    }
    .form button{
        width:100%;
    }
}



